<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Image Name:" %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :certificate %><br />
    <%= f.collection_select :certificate, Product::CERTIFICATES, :to_s, :to_s, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :releasedate %><br />
    <%= f.date_select :releasedate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
