<h3>Current Products on Sale</h3>

<table width="600" cellpadding= "0">
  <tr align= left>
    <th> </th>
    <th>Name</th>
    <th>Certificate</th>
    <th>Release Date</th>
    <th>Price</th>
    <th>Quantity in Stock</th>  
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= image_tag(product.image, :size => "75x100") %></td>
    <td><%= h(product.name) %></td>    
    <td align= center><%=h(product.certificate) %></td>
    <td align= center><%= h(product.releasedate) %></td>
    <td align= center>&pound<%= h(product.price) %></td>
    <td align= center><%= h(product.quantity) %></td>
    <td><%= link_to 'See More', product %></br>
    <%if current_user.admin == true%>
        Admin Actions:</br>
        <%= link_to 'Edit', edit_product_path(product)%>      
        <%= link_to 'Delete', product_path(product),
        :method => :delete, :confirm => "Are you sure?" %></td>
    <%else%>
    <% end %>
  </tr>
<% end %>
</table>





