<p id="notice"><%= notice %></p>
<p> 
  <center><h1><%= @product.name %></h1></center> 
</p>


<p>
</p>
  <%= image_tag @product.image %>
  
    <b>Price: </b>&pound<%= @product.price %>
    
      
  
  
<p><b>Certificate:</b><%= @product.certificate %></p>
  <b>Release Date: </b> <%= @product.releasedate %>

<p>

  <b>Description:</b>
  <%= @product.description %>
</p>
<p><%= link_to 'Back', products_path %> <%= button_to "Add to Cart", item_path(:product_id => @product) %></p>
    



