<p id="notice"><%= notice %></p>
<p> 
  <center><h1><%= @product.name %></h1></center> 
</p>
<p>
</p>
  <%= image_tag(@product.image,:size => "100x125") %> </br>
<b>Price: </b>&pound<%= @product.price %></br>
<b>Certificate:</b><%= @product.certificate %></br>
  <b>Release Date: </b> <%= @product.releasedate %></br>
  <b>Number in Stock:</b><%= @product.quantity %>
<p>
<b>Description:</b>
<%= @product.description %>
</p>
<p><%= button_to "Add to Cart", item_path(:product_id => @product) %></p>
    



