<Center><h3><u>Shopping Basket</u></h3></Center>
<div id = "items">
<table cellspacing=2 c width= 230>
  <tr align=center>
    <th align= left>Name</th>
    <th>Qty</th>
    <th>Price</th>
  </tr>
  
  <% if total_items != 0%>    
    <% @basket = current_basket%>
    <% @basket.items.each do |item| %>
      <tr>
      <td><%= item.product.name %></td>
      <td align= center><%= item.quantity%></td>
      <td align= center>&pound<%= item.product.price%></td>
      </tr>   
    <%end%>
    
  <% else %>
    
  <% end %>
</table>
</div>



<div class = "position"><b>Basket Total:</b> &pound;<%= total_price %></div>

<div class = "buttonsholder">
  <center>You have <b><%=pluralize(total_items, "item") %></b> in your basket.</center>
<div style = "float: left;padding-left: 25px; "><%= button_to 'Empty Cart', empty_path, method: "delete",:confirm => 'Are you sure?' %></div>
<% if total_items == 0 %>
  <div style = "float: right; padding-right: 25px;"><%= button_to 'Checkout', checkout_path, method: "checkout", :disabled => true %></div>
<% else %>
  <div style = "float: right; padding-right: 25px;"><%= button_to 'Checkout', checkout_path, method: "checkout", :disabled => false %></div>
<% end %>

</div>