<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "outer">
    <div id = "header">
      <div class = "header">
        <h1>Game Central</h1>
      </div>
      <div id = "navigation">
        <ul class = "navigation">
          <b><li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Current Games", products_path %></li>
            <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
            <% if current_user.admin == true %>
              <li><%= link_to "Show Products", products_path %></li>
              <li> <%= link_to "Upload a Product", upload_path %> </li>
              <li><%= link_to "Show Users", users_path %></li>
            <%else%>
            <%end%>
            <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
          <% else %>       
            <li><%= link_to "Sign In", signin_path %></li>
          <% end %>
          </b>
        </ul>
        <div id="search">
             <form action='/search'>
              <input name="query" type="text" />
              <input type='submit' value='Search' />
            </form>       
        </div>
      </div>
    </div>
    <div id = "box1">
      <div id = "leftcol">  
      </div>
      <div id = "content">     
        <div id = "contentbox2">
        <%= yield %>
        </div>
        <div id = "basket">
          <%= render "layouts/basket" %>
        </div>
        <div id = "video">
          <iframe width="290" height="300" src="http://www.youtube.com/embed/EgbUSsblCSQ" frameborder="0" allowfullscreen></iframe>
        </div>
        
      </div>
      <div id ="footer">        
      </div> 
    </div>   
</div>
</body>
</html>
